.footer {
    background: #e0c4c4;
    padding: 2px 0;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0;
    padding: 2px 0;
    color: white;
    font-size: small;

}

.footer .row a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0 1%;
}