p{
    color: black;
    background-color: rgb(231, 228, 228);
    font-size: large;
}


table img {
    height: 200px;
    width: 350px;
    border: 2mm ridge #476d32;
    background-color: rgb(231, 228, 228);

}

table, th, td {
    border: 10px groove black;
    background-color: rgb(231, 228, 228);
    border-collapse: collapse;
}

td{
    text-align: center;
    font-size: smaller;
}

h2{
    font-size: x-large;
}